body {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Trebuchet, Arial, sans-serif;
}

header {
    background-color: #4A4F56;
    width: 100%;
    text-align: center;
    color:#EB7E7B;
}

main {
    background-color: #3B3F45;
    width: 100%;
    text-align: center;
    color: white;
}

ul {
    text-align: left;
    width: 500px;
    list-style: none;
    margin-left: 0;
    padding: 0;
}

article {
    display: flex;
    justify-content: center;
}

ul li:nth-of-type(odd) {
    background-color: #88839E;
}

ul li:nth-of-type(even) {
    background-color: #7A7593;
}

li {
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    transition: all .1s ease-in;
}

ul li:hover {
    background-color: #625E77;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

input#checkbox {
    height: 70px;
    width: 70px;
}


input:checked ~ label {
    text-decoration: line-through;
    color: #a79fb8;
}

span::before {
    content: "( ";
}

span::after {
    content: " )";
}

span {
    color: #a79fb8;
}
footer {
    background-color: #3B3F45;
    width: 100%;
    text-align: center;
    color: #EB7E7B;
}
footer h1 {
    width: 500px;
    margin-left: 250px;
    background-color: #4A4F56;
}