body {
    padding-right: 10%;
    padding-left: 10%;
}

.main {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.main h3 {
    text-align: center;
}

.main p {
    text-align: center;
}

section img {
    border: 1px solid black;
    background-color: blue;
    padding: 15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

section {
    text-align: center;
    width: 250px;
}

section img:hover {
    background-color: white;
}
